<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="getScoreBoard.php">
        <system.webServer>
            <caching>
                <profiles>
                    <add extension=".php" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:10:00" varyByQueryString="*" />
                </profiles>
            </caching>
        </system.webServer>
    </location>
    <system.webServer>
        <urlCompression doStaticCompression="true" />
			<security>
				<requestFiltering>
					<fileExtensions>
						<add fileExtension=".php2" allowed="false" />
					</fileExtensions>
				</requestFiltering>
			</security>
        <caching>
            <profiles>
                <remove extension="*" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
