<?xml version="1.0" encoding="UTF-8"?>
<configuration>

        <system.webServer>            
			<security>
				<requestFiltering>
					<fileExtensions>
						<add fileExtension=".php2" allowed="false" />
					</fileExtensions>
				</requestFiltering>
			</security>
        </system.webServer>
    <location path="getClanMap.php">
        <system.webServer>
            <caching>
                <profiles>
                    <add extension=".php" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:30" varyByQueryString="*" />
                </profiles>
            </caching>
        </system.webServer>
    </location>
    <location path="getMaps.php">
        <system.webServer>
            <caching>
                <profiles>
                    <add extension=".php" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:30" varyByQueryString="*" />
                </profiles>
            </caching>
        </system.webServer>
    </location>
    <location path="getUserMaps2.php">
        <system.webServer>
            <caching>
                <profiles>
                    <add extension=".php" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:00:30" varyByQueryString="*" />
                </profiles>
            </caching>
        </system.webServer>
    </location>

</configuration>
